Repository ls1intum/Pyris, pull requests merged in 2024-10, with the labels that each got.

#149 `FastAPI`: Support new settings system
  app/domain/__init__.py
  app/domain/feature_dto.py
  app/web/routers/pipelines.py
Labels: component:FastAPI, component:Domain

#164 Improve OpenAI error handling
  app/llm/external/openai_chat.py
  app/llm/external/openai_embeddings.py
Labels: lock:pyris-test, component:LLM

#161 Add Text Exercise Chat Pipeline
  app/domain/data/text_exercise_dto.py
  app/domain/status/text_exercise_chat_status_update_dto.py
  app/domain/text_exercise_chat_pipeline_execution_dto.py
  app/pipeline/prompts/text_exercise_chat_prompts.py
  app/pipeline/text_exercise_chat_pipeline.py
  app/web/routers/pipelines.py
  app/web/status/status_update.py
Labels: component:Pipeline, component:FastAPI, component:Domain

#165 Track token usage of iris requests
  app/common/PipelineEnum.py
  app/common/message_converters.py
  app/common/pyris_message.py
  app/common/token_usage_dto.py
  app/domain/__init__.py
  app/domain/chat/chat_pipeline_execution_base_data_dto.py
  app/domain/chat/chat_pipeline_execution_dto.py
  app/domain/chat/interaction_suggestion_dto.py
  app/domain/status/status_update_dto.py
  app/domain/text_exercise_chat_pipeline_execution_dto.py
  app/llm/external/model.py
  app/llm/external/ollama.py
  app/llm/external/openai_chat.py
  app/llm/langchain/iris_langchain_chat_model.py
  app/llm/request_handler/basic_request_handler.py
  app/llm/request_handler/capability_request_handler.py
  app/llm/request_handler/request_handler_interface.py
  app/pipeline/chat/code_feedback_pipeline.py
  app/pipeline/chat/course_chat_pipeline.py
  app/pipeline/chat/exercise_chat_pipeline.py
  app/pipeline/chat/interaction_suggestion_pipeline.py
  app/pipeline/chat/lecture_chat_pipeline.py
  app/pipeline/competency_extraction_pipeline.py
  app/pipeline/lecture_ingestion_pipeline.py
  app/pipeline/pipeline.py
  app/pipeline/shared/citation_pipeline.py
  app/pipeline/shared/reranker_pipeline.py
  app/pipeline/shared/summary_pipeline.py
  app/pipeline/text_exercise_chat_pipeline.py
  app/retrieval/lecture_retrieval.py
  app/web/status/status_update.py
Labels: component:LLM, component:Pipeline, component:FastAPI, component:Domain
