Repository ls1intum/Pyris, pull requests merged in 2024-06, with the labels that each got.

#117 Revert "Feature/citation pipeline for lecture pipeline (#114)"
  app/pipeline/chat/lecture_chat_pipeline.py
  app/pipeline/prompts/citation_prompt.txt
  app/retrieval/lecture_retrieval.py
  app/vector_database/lecture_schema.py
Labels: component:Pipeline

#121 `LLM`: Fix Ollama URL handling
  app/llm/external/ollama.py
  app/pipeline/prompts/reranker_prompt.txt
  app/pipeline/shared/reranker_pipeline.py
  app/web/status/status_update.py
Labels: component:LLM, component:Pipeline, component:FastAPI

#125 `CI`: Add old deployment pipeline
  .github/workflows/build.yml
  .github/workflows/deploy-test.yml
  .github/workflows/deploy.yml
  pyris-server-cli
Labels: component:CI/CD

#96 `Pipeline`: Ingestion pipeline
  .gitignore
  app/config.py
  app/domain/data/image_message_content_dto.py
  app/domain/data/lecture_unit_dto.py
  app/domain/ingestion/__init__.py
  app/domain/ingestion/ingestion_pipeline_execution_dto.py
  app/domain/ingestion/ingestion_status_update_dto.py
  app/domain/pipeline_execution_settings_dto.py
  app/ingestion/abstract_ingestion.py
  app/llm/external/openai_chat.py
  app/llm/external/openai_embeddings.py
  app/llm/request_handler/__init__.py
  app/pipeline/chat/lecture_chat_pipeline.py
  app/pipeline/chat/tutor_chat_pipeline.py
  app/pipeline/lecture_ingestion_pipeline.py
  app/pipeline/prompts/choose_response_prompt.txt
  app/pipeline/prompts/citation_prompt.txt
  app/pipeline/prompts/content_image_interpretation_merge_prompt.txt
  app/pipeline/prompts/lecture_retrieval_prompts.py
  app/pipeline/shared/citation_pipeline.py
  app/retrieval/lecture_retrieval.py
  app/vector_database/__init__.py
  app/vector_database/database.py
  app/vector_database/lecture_schema.py
  app/web/routers/webhooks.py
  app/web/status/IngestionStatusCallback.py
  docker/.docker-data/weaviate-data/.gitkeep
  docker/pyris-dev.yml
  docker/pyris-production.yml
  docker/weaviate.yml
  docker/weaviate/default.env
  example_application.yml
  requirements.txt
Labels: component:LLM, component:Pipeline, component:FastAPI, component:Domain, component:Docker

#122 Feature/basic retrieval
  app/pipeline/chat/tutor_chat_pipeline.py
  app/retrieval/lecture_retrieval.py
Labels: component:Pipeline, component:Domain

#126 Fix merge conflicts of main
  app/domain/data/lecture_unit_dto.py
  app/domain/pipeline_execution_settings_dto.py
  app/pipeline/chat/exercise_chat_pipeline.py
  app/pipeline/chat/lecture_chat_pipeline.py
  app/pipeline/chat/output_models/output_models/selected_paragraphs.py
  app/pipeline/lecture_ingestion_pipeline.py
  app/pipeline/prompts/lecture_retrieval_prompts.py
  app/pipeline/shared/reranker_pipeline.py
  app/retrieval/lecture_retrieval.py
Labels: component:Pipeline, component:Domain

#127 Replace gpt-4-vision with gpt-o
  app/pipeline/lecture_ingestion_pipeline.py
  app/pipeline/prompts/citation_prompt.txt
Labels: component:Pipeline, component:Domain

#128 `Exercise-Chat`: Readd exercise chat suggestion
  app/pipeline/chat/course_chat_pipeline.py
  app/pipeline/chat/exercise_chat_pipeline.py
  app/web/status/status_update.py
Labels: component:Pipeline, component:FastAPI
