Repository ls1intum/Pyris, pull requests merged in 2024-11, with the labels that each got.

#154 `Exercise Chat`: Implement native function calling agent
  .gitignore
  app/common/PipelineEnum.py
  app/common/__init__.py
  app/common/message_converters.py
  app/common/pyris_message.py
  app/config.py
  app/domain/chat/course_chat/course_chat_pipeline_execution_dto.py
  app/domain/chat/exercise_chat/exercise_chat_pipeline_execution_dto.py
  app/domain/data/competency_dto.py
  app/domain/data/exercise_with_submissions_dto.py
  app/domain/data/message_content_dto.py
  app/domain/data/programming_exercise_dto.py
  app/domain/data/tool_call_dto.py
  app/domain/data/tool_message_content_dto.py
  app/domain/event/pyris_event_dto.py
  app/llm/external/__init__.py
  app/llm/external/model.py
  app/llm/external/ollama.py
  app/llm/external/openai_chat.py
  app/llm/langchain/iris_langchain_chat_model.py
  app/llm/llm_manager.py
  app/llm/request_handler/basic_request_handler.py
  app/llm/request_handler/capability_request_handler.py
  app/llm/request_handler/request_handler_interface.py
  app/pipeline/chat/course_chat_pipeline.py
  app/pipeline/chat/exercise_chat_agent_pipeline.py
  app/pipeline/chat/exercise_chat_pipeline.py
  app/pipeline/chat/interaction_suggestion_pipeline.py
  app/pipeline/chat/lecture_chat_pipeline.py
  app/pipeline/prompts/iris_course_chat_prompts.py
  app/pipeline/prompts/iris_exercise_chat_agent_prompts.py
  app/pipeline/prompts/iris_exercise_chat_prompts.py
  app/retrieval/lecture_retrieval.py
  app/web/routers/pipelines.py
  app/web/status/status_update.py
  requirements.txt
Labels: lock:pyris-test, component:LLM, component:Pipeline, component:FastAPI, component:Domain

#139 Add links to citations
  app/domain/data/lecture_unit_dto.py
  app/pipeline/chat/lecture_chat_pipeline.py
  app/pipeline/lecture_ingestion_pipeline.py
  app/pipeline/prompts/citation_prompt.txt
  app/pipeline/shared/citation_pipeline.py
  app/retrieval/lecture_retrieval.py
  app/vector_database/lecture_schema.py
Labels: component:Pipeline, component:Domain

#173 `Pipeline`: Add lecture chat pipeline connection
  app/domain/status/lecture_chat_status_update_dto.py
  app/pipeline/chat/lecture_chat_pipeline.py
  app/vector_database/lecture_schema.py
  app/web/routers/pipelines.py
  app/web/status/status_update.py
Labels: component:Pipeline, component:FastAPI, component:Domain

#179 Migrate the course-chat pipeline to native tool calling agent
  app/pipeline/chat/course_chat_pipeline.py
  app/pipeline/chat/exercise_chat_agent_pipeline.py
  app/pipeline/prompts/iris_course_chat_prompts.py
  app/pipeline/prompts/iris_course_chat_prompts_elicit.py
  app/pipeline/shared/utils.py
Labels: lock:pyris-test, component:Pipeline
