Repository ls1intum/Pyris, pull requests merged in 2024-04, with the labels that each got.

#91 `Development`: Update dependencies
  .github/dependabot.yml
  .github/workflows/build.yml
  requirements.txt
Labels: component:CI/CD

#95 `Pipeline`: Use capabilities instead of hardcoded LLMs
  app/common/__init__.py
  app/common/message_converters.py
  app/domain/__init__.py
  app/domain/data/feedback_dto.py
  app/domain/data/message_dto.py
  app/domain/data/programming_exercise_dto.py
  app/domain/iris_message.py
  app/domain/pipeline_execution_dto.py
  app/domain/pyris_message.py
  app/domain/tutor_chat/tutor_chat_pipeline_execution_dto.py
  app/llm/external/model.py
  app/llm/external/ollama.py
  app/llm/external/openai_chat.py
  app/llm/request_handler/basic_request_handler.py
  app/llm/request_handler/capability_request_handler.py
  app/llm/request_handler/request_handler_interface.py
  app/pipeline/chat/file_selector_pipeline.py
  app/pipeline/chat/tutor_chat_pipeline.py
  app/pipeline/shared/summary_pipeline.py
  app/web/status/status_update.py
Labels: component:LLM, component:Pipeline, component:FastAPI, component:Domain

#89 `LLM`: Add image recognition and generation support
  app/common/message_converters.py
  app/domain/__init__.py
  app/domain/data/image_message_content_dto.py
  app/domain/data/json_message_content_dto.py
  app/domain/data/text_message_content_dto.py
  app/domain/pyris_message.py
  app/llm/external/model.py
  app/llm/external/ollama.py
  app/llm/external/openai_chat.py
  app/llm/external/openai_dalle.py
  app/llm/request_handler/basic_request_handler.py
  app/llm/request_handler/request_handler_interface.py
  app/pipeline/chat/tutor_chat_pipeline.py
Labels: component:LLM, component:Pipeline, component:Domain
