Repository ls1intum/Pyris, pull requests merged in 2024-05, with the labels that each got.

#102 `LLM`: Add support for JSON mode
  app/llm/completion_arguments.py
  app/llm/external/ollama.py
  app/llm/external/openai_chat.py
  app/pipeline/chat/file_selector_pipeline.py
Labels: component:LLM, component:Pipeline

#64 `Ingester & Retriever`: Add support for Weaviate
  .env.example
  app/domain/data/lecture_unit_dto.py
  app/ingestion/__init__.py
  app/ingestion/abstract_ingestion.py
  app/pipeline/chat/tutor_chat_pipeline.py
  app/retrieval/__init__.py
  app/retrieval/abstract_retrieval.py
  app/retrieval/lecture_retrieval.py
  app/retrieval/repositories_retrieval.py
  app/vector_database/__init__.py
  app/vector_database/database.py
  app/vector_database/lecture_schema.py
  app/vector_database/repository_schema.py
  requirements.txt
Labels: component:Pipeline, component:FastAPI, component:Retriever, component:Ingester, component:Domain

#106 `LLM`: Remove BasicRequestHandler
  app/llm/request_handler/__init__.py
  app/llm/request_handler/basic_request_handler.py
Labels: component:LLM

#104 Tutor Chat Pipeline with Lecture content.
  .env.example
  app/domain/__init__.py
  app/domain/pipeline_execution_dto.py
  app/domain/tutor_chat/lecture_chat_pipeline_execution_dto.py
  app/llm/langchain/iris_langchain_embedding_model.py
  app/llm/request_handler/__init__.py
  app/llm/request_handler/basic_request_handler.py
  app/pipeline/chat/lecture_chat_pipeline.py
  app/pipeline/chat/output_models/output_models/selected_paragraphs.py
  app/pipeline/chat/tutor_chat_pipeline.py
  app/pipeline/prompts/choose_response_prompt.txt
  app/pipeline/prompts/lecture_retrieval_prompts.py
  app/pipeline/prompts/reranker_prompt.txt
  app/pipeline/shared/reranker_pipeline.py
  app/retrieval/abstract_retrieval.py
  app/retrieval/lecture_retrieval.py
  app/retrieval/repositories_retrieval.py
  app/vector_database/lecture_schema.py
  app/web/routers/pipelines.py
  app/web/status/lecture_chat_status_callback.py
  app/web/status/status_update.py
  app/web/status/tutor_chat_status_callback.py
Labels: component:LLM, component:Pipeline, component:FastAPI, component:Domain

#114 Feature/citation pipeline for lecture pipeline
  app/pipeline/chat/lecture_chat_pipeline.py
  app/pipeline/prompts/citation_prompt.txt
  app/retrieval/lecture_retrieval.py
  app/vector_database/lecture_schema.py
Labels: component:Pipeline
