Repository ls1intum/Pyris, pull requests merged in 2024-09, with the labels that each got.

#152 Enhance README.MD
  README.MD
  app/pipeline/prompts/iris_exercise_chat_prompts.py
Labels: lock:pyris-test

#153 Make readme file more beginner friendly
  README.MD
Labels: lock:pyris-test, component:Pipeline

#158 Add requirements list to competency extraction pipeline
  app/pipeline/competency_extraction_pipeline.py
Labels: component:Pipeline

#159 `Docker`: Production setup without Nginx
  README.MD
  application.example.yml
  application.test.yml
  docker/pyris-production-internal.yml
  llm_config.example.yml
Labels: documentation, lock:pyris-test, component:Docker
