Repository ls1intum/Pyris, pull requests merged in 2025-01, with the labels that each got.

#196 Add ChatGPT wrapper pipeline
  README.MD
  app/domain/status/text_exercise_chat_status_update_dto.py
  app/llm/external/model.py
  app/llm/external/ollama.py
  app/llm/external/openai_chat.py
  app/llm/langchain/iris_langchain_chat_model.py
  app/llm/request_handler/basic_request_handler.py
  app/llm/request_handler/capability_request_handler.py
  app/llm/request_handler/request_handler_interface.py
  app/main.py
  app/pipeline/chat/course_chat_pipeline.py
  app/pipeline/chat/exercise_chat_agent_pipeline.py
  app/pipeline/chat_gpt_wrapper_pipeline.py
  app/pipeline/competency_extraction_pipeline.py
  app/pipeline/prompts/chat_gpt_wrapper_prompts.py
  app/pipeline/prompts/iris_exercise_chat_agent_prompts.py
  app/pipeline/shared/citation_pipeline.py
  app/pipeline/text_exercise_chat_pipeline.py
  app/web/routers/pipelines.py
  app/web/status/status_update.py
  application.example.yml
  example_application.yml
Labels: component:LLM, component:Pipeline, component:FastAPI, component:Domain

#191 FAQ rewriting pipeline
  app/common/PipelineEnum.py
  app/domain/rewriting_pipeline_execution_dto.py
  app/domain/status/rewriting_status_update_dto.py
  app/pipeline/prompts/faq_rewriting.py
  app/pipeline/rewriting_pipeline.py
  app/web/routers/pipelines.py
  app/web/status/status_update.py
  docker/pyris-dev.yml
Labels: component:Pipeline, component:FastAPI, component:Domain, component:Docker

#197 Add inconsistency check pipeline
  app/common/PipelineEnum.py
  app/domain/__init__.py
  app/domain/inconsistency_check_pipeline_execution_dto.py
  app/domain/status/inconsistency_check_status_update_dto.py
  app/pipeline/inconsistency_check_pipeline.py
  app/pipeline/prompts/inconsistency_check_prompts.py
  app/web/routers/pipelines.py
  app/web/status/status_update.py
Labels: component:Pipeline, component:FastAPI, component:Domain, component:Docker

#192 Add problem statement rewriting to the rewriting pipeline
  app/pipeline/prompts/rewriting_prompts.py
  app/pipeline/rewriting_pipeline.py
  app/web/routers/pipelines.py
Labels: component:Pipeline, component:FastAPI

#187 Enable IRIS to use FAQs
  app/common/PipelineEnum.py
  app/domain/data/faq_dto.py
  app/domain/ingestion/deletionPipelineExecutionDto.py
  app/domain/ingestion/ingestion_pipeline_execution_dto.py
  app/pipeline/chat/course_chat_pipeline.py
  app/pipeline/chat/exercise_chat_agent_pipeline.py
  app/pipeline/faq_ingestion_pipeline.py
  app/pipeline/prompts/faq_citation_prompt.txt
  app/pipeline/prompts/faq_retrieval_prompts.py
  app/pipeline/shared/citation_pipeline.py
  app/retrieval/basic_retrieval.py
  app/retrieval/faq_retrieval.py
  app/retrieval/faq_retrieval_utils.py
  app/vector_database/database.py
  app/vector_database/faq_schema.py
  app/web/routers/pipelines.py
  app/web/routers/webhooks.py
  app/web/status/faq_ingestion_status_callback.py
Labels: component:Pipeline, component:FastAPI, component:Domain, component:Docker
